In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer

In [33]:
Raw_Housing_Data = pd.read_csv('/content/drive/MyDrive/Notebooks/Module 4 data exploration /2. Data exploration numeric variable/Raw_Housing_Prices3.csv')

In [34]:
import warnings 
warnings.filterwarnings(action = 'ignore')

In [35]:
Raw_Housing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  float64
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(10), int64(7), object(4)
memory usage: 3.5+ MB

In [36]:
# zipcode would be best determined if it is in the form of categorical variable not numeric
Raw_Housing_Data['Zipcode'] = Raw_Housing_Data['Zipcode'].astype(object)

In [37]:
Raw_Housing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  object
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  object
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(9), int64(7), object(5)
memory usage: 3.5+ MB

In [38]:
# No of times visited is a variable which would be best descibed in the form of numeric
Raw_Housing_Data['No of Times Visited'].unique()

array(['None', 'Thrice', 'Four', 'Twice', 'Once'], dtype=object)

In [39]:
# recode then into numeric using pandas . map function
mapping = {'None' : '1',
           'Thrice' : '3',
           'Twice' : '2',
           'Once' : '1' ,
           'Four' : '4'}
Raw_Housing_Data['No of Times Visited'] = Raw_Housing_Data['No of Times Visited'].map(mapping)

In [40]:
Raw_Housing_Data['No of Times Visited'].unique()

array(['1', '3', '4', '2'], dtype=object)

In [41]:
Raw_Housing_Data['No of Times Visited'] = Raw_Housing_Data['No of Times Visited'].astype(int)
Raw_Housing_Data['No of Times Visited'].unique()

array([1, 3, 4, 2])

In [42]:
Raw_Housing_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ID                                         21609 non-null  int64
 1   Date House was Sold                        21609 non-null  object
 2   Sale Price                                 21609 non-null  float64
 3   No of Bedrooms                             21609 non-null  int64
 4   No of Bathrooms                            21609 non-null  float64
 5   Flat Area (in Sqft)                        21609 non-null  float64
 6   Lot Area (in Sqft)                         21609 non-null  float64
 7   No of Floors                               21609 non-null  float64
 8   Waterfront View                            21609 non-null  object
 9   No of Times Visited                        21609 non-null  int64
 10  Condition of the House                     21609 non-null  object
 11  Overall Grade                              21609 non-null  int64
 12  Area of the House from Basement (in Sqft)  21609 non-null  float64
 13  Basement Area (in Sqft)                    21609 non-null  int64
 14  Age of House (in Years)                    21609 non-null  int64
 15  Renovated Year                             21609 non-null  int64
 16  Zipcode                                    21609 non-null  object
 17  Latitude                                   21609 non-null  float64
 18  Longitude                                  21609 non-null  float64
 19  Living Area after Renovation (in Sqft)     21609 non-null  float64
 20  Lot Area after Renovation (in Sqft)        21609 non-null  int64
dtypes: float64(9), int64(8), object(4)
memory usage: 3.5+ MB

In [43]:
# deriving new variable from existing variable
# we want to derive two new variabes from the type Renovated year
# two variable ---> Ever Renovated , Year Since renovation
# Ever Renovated --> Yes , No

In [44]:
# when value of renovated year ==0 No is assigned else yes 
Raw_Housing_Data['Ever Renovate'] = np.where(Raw_Housing_Data['Renovated Year'] == 0 , 'No' , 'Yes')
Raw_Housing_Data.head(5)

           ID  ... Ever Renovate
0  7129300520  ...            No
1  6414100192  ...           Yes
2  5631500400  ...            No
3  2487200875  ...            No
4  1954400510  ...            No

[5 rows x 22 columns]

In [45]:
# For Year Since Renovation 
# Year of Sale - Year of renovation
# if Year of renovation = 0 
# for never renovated Year since  = 0
# numerical variable

In [46]:
# Extracting the year of the house sell 
Raw_Housing_Data['Purchase year'] = pd.DatetimeIndex(Raw_Housing_Data['Date House was Sold']).year

In [47]:
Raw_Housing_Data['Years Since Renovation'] = np.where(Raw_Housing_Data['Ever Renovate'] == 'Yes',
                                                      abs(Raw_Housing_Data['Purchase year'] - Raw_Housing_Data['Renovated Year']),
                                                      0 )

In [48]:
Raw_Housing_Data.head(10)

           ID Date House was Sold  ...  Purchase year  Years Since Renovation
0  7129300520     14 October 2017  ...           2017                       0
1  6414100192    14 December 2017  ...           2017                      26
2  5631500400    15 February 2016  ...           2016                       0
3  2487200875    14 December 2017  ...           2017                       0
4  1954400510    15 February 2016  ...           2016                       0
5  7237550310         14 May 2017  ...           2017                       0
6  1321400060        14 June 2017  ...           2017                       0
7  2008000270     15 January 2016  ...           2016                       0
8  2414600126       15 April 2016  ...           2016                       0
9  3793500160       15 March 2016  ...           2016                       0

[10 rows x 24 columns]

In [49]:
# To keep the data clean we can drop some columns 
# like Renovated year 
# Purchase year 
# and Date House was sold
Raw_Housing_Data.drop(columns=['Date House was Sold' , 'Purchase year' , 'Renovated Year' ],inplace= True)
Raw_Housing_Data.head(10)

           ID  Sale Price  ...  Ever Renovate  Years Since Renovation
0  7129300520    221900.0  ...             No                       0
1  6414100192    538000.0  ...            Yes                      26
2  5631500400    180000.0  ...             No                       0
3  2487200875    604000.0  ...             No                       0
4  1954400510    510000.0  ...             No                       0
5  7237550310   1129575.0  ...             No                       0
6  1321400060    257500.0  ...             No                       0
7  2008000270    291850.0  ...             No                       0
8  2414600126    229500.0  ...             No                       0
9  3793500160    323000.0  ...             No                       0

[10 rows x 21 columns]

In [ ]:
# named as transformed housing data ....